@font-face {
  font-family: "Proto";
  font-style: normal;
  font-weight: 400;
  src: "fonts/Protomolcule.woff2" format("woff2");
}

body {
  background-color: #1e1e3e;
}

.centertitle {
  text-align: center;
  font-family: "Proto", 'Courier New', Courier, monospace, "sans-serif";
  color: #bbdef6;
  font-size: 350%;
}

.normaltext {
  text-align: center;
  font-family: 'Courier New', Courier, monospace, "sans-serif";
  color: #bbdef6;
  font-size: 130%;
}

